.sigue {
    text-align: center;
    color: #000000;
    font-size: 15px;
    font-family: "Alex Brush", cursive;
    position: fixed;
    top: 75%;
    left: -34%;
    height: 70%;
    width: 100%;
}

.a {
    text-align: center;
    color: #000000;
    font-size: 15px;
    font-family: "Alex Brush", cursive;
    position: fixed;
    top: 63%;
    left: -29%;
    height: 70%;
    width: 100%;
}

.tu{
    text-align: center;
    color: #000000;
    font-size: 15px;
    font-family: "Alex Brush", cursive;
    position: fixed;
    top: 56%;
    left: -45%;
    height: 70%;
    width: 100%;
}

.corazón{
    text-align: center;
    color: #000000;
    font-size: 15px;
    font-family: "Alex Brush", cursive;
    position: fixed;
    top: 25%;
    left: -37%;
    height: 70%;
    width: 100%;
}

.el{
    text-align: center;
    color: #000000;
    font-size: 15px;
    font-family: "Alex Brush", cursive;
    position: fixed;
    top: 5%;
    left: -29%;
    height: 70%;
    width: 100%;
}

.siempre{
    text-align: center;
    color: #000000;
    font-size: 15px;
    font-family: "Alex Brush", cursive;
    position: fixed;
    top: 35%;
    left: -6%;
    height: 70%;
    width: 100%;
}

.conoce{
    text-align: center;
    color: #000000;
    font-size: 15px;
    font-family: "Alex Brush", cursive;
    position: fixed;
    top: 59%;
    left: -6%;
    height: 70%;
    width: 100%;
}

.el2{
    text-align: center;
    color: #000000;
    font-size: 15px;
    font-family: "Alex Brush", cursive;
    position: fixed;
    top: 50%;
    left: 11%;
    height: 70%;
    width: 100%;
}

.camino{
    text-align: center;
    color: #000000;
    font-size: 15px;
    font-family: "Alex Brush", cursive;
    position: fixed;
    top: 28%;
    left: 26%;
    height: 70%;
    width: 100%;
}